#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.headerLinks {
  text-decoration: none;
}

/* Cart */

.cartHolder {
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: larger;

  background-color: rgba(240, 240, 240, 0.753);

  position: absolute;

  border-radius: 5px;
}
.cartHolder:hover {
  background-color: rgba(99, 99, 99, 0.212);
  border: 1px solid rgba(170, 57, 57, 0.438);
}

.CartContainer {
  position: absolute;
  right: 0px;
  top: 10vh;
  z-index: 1;

  border: 1px solid black;
  background-color: white;
  width: 400px;
  height: 80vh;
  
}


.cart_Top{
  position: relative;
  height: 7%;
  border: 0.5px solid rgb(255, 89, 117);
}

.cart_Top button {
  background-color: white;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 0px;
  top: 0px;

  height: 100%;
}
.cart_Top div {
  margin: 0px 0px 0px 5% ;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0px;
  top: 0px;

  height: 100%;
}
.cartBottom{

  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgba(180, 180, 180, 0.774);

}
.cartBottom span{
  display: flex;
  gap: 70%;
}
.cartBtn{
  position: relative;
  right: -8vw;
}

.itemConianer{
  display: grid;
  justify-content: center;
  height: 82.4%;
  overflow-y: scroll;
  overflow-x: hidden;
}
 .Item{
  width: 350px;
  min-height: 100px;
  margin: 10px;
  border: 1px solid black;
}

.cartAmount{
  display: flex;
  position: relative;
  left: 62%;
  top: 10%;
}
.cartAmount button{
  display: grid;
  
  width: 40px;
  height: 40px;
}
.cartQuantity {
  width: 40px;
  height: 40px;
  font-size: x-large;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 3px;
  
}
.itemRemove_Cart{
  position: relative;
  left: -35%;
  top: -35%;
}